* {
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}


body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

tr:nth-child(even) {background: #e495e4}
tr:nth-child(odd) {background:#ff33cc}

thead>tr {
  color:white;
  background-image: url(assets/leopardskin.jpg) !important;
  font-family: rock salt, cursive;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
}

tfoot>tr {
  background-image: url(assets/leopardskin.jpg)!important;
  font-family: "Verda", "San-Serif";
  color: white;
  font-family: rock salt, cursive;
  background: linear-gradient();
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
}

tbody {
  background-image: url(assets/noise.png);
}

.table td {
padding: 2px;
}
